header{
	background: LavenderBlush;
	height: 100px;
	position: sticky;
	top: 0%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}

footer {
	text-align: center;
	background: #008b8b;
	padding: 2em 0;
}

.nav-area{
	float: right;
	list-style: none;
	padding: auto 0;
}

.nav-area li{
	display: inline-block;
}

.nav-area li a{
	color: #545454;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Courier New", monospace;
	font-size: 14px;
	transition: all ease-in-out 250ms;
}

.nav-area li a:hover{
	color: #a9a9a9;
	border-radius: 3px;
}

.logo{
	padding: 15px;
}

.logo img{
	width: 70px;
	float: left;
	height: auto;
}

.box{
	max-width: 800px;
	height: auto;
	background: rgba(155, 155, 155, 0.4);
	padding: 75px;
	margin: 0;
	color: white;
	font-family: 'Century Gothic', sans-serif;
	display: inline-block;
	text-align: center;
}

.left{
    width: 250px;
	float: left;
	margin: auto;
	display: block;
	text-align: center;
}

.right{
	width: 250px;
	float: left;
	margin: auto;
	display: block;
	text-align: center;
}

@media screen and (max-width: 500px){
	.left, .right {
		width: 100%;
		text-align: center;
	}
}

#happyprofile {
	border-radius: 50%;
	width: 250px;
	height: auto;
	display: block;
}

.right h1{
	color: coral;
	font-size:300%;
	letter-spacing: 4px;
	font-weight: 300;
}

.right h5{
	font-size: 25px;
	font-weight: 100;
}

section{
	padding: 50px;
}

#main{
	background: url(images/mtns.png) no-repeat;
	background-size: auto;
	background-position: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 10px;

}

.grid-item {
	border: 1px solid rgba(100, 100, 100, 0.8);
	border-radius: 10px;
	padding: 2em;
	font-size: 18px;
}

#mytoys {
	overflow: auto;
}

div.toygallery {
	margin: 5px;
}

div.toygallery img{
	width: 100%;
	height: auto;
}

div.toygallery img:hover {
	opacity: 0.8
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 850px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#about{
	background: rgb(255, 192, 203);
}

#about p, #goodgirl p{
	font-family: Courier New, monospace;
}

#accomplishments{
	background-image: linear-gradient(to bottom right, #B0E0E6, #D8BFD8);
	background-size: auto;
}

#goodgirl{
	background: rgb(255, 192, 203);
	
}

ul{
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

footer li{
	display: inline-block;
	margin: 10px;
	list-style: none;
}

footer li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	letter-spacing: 10px;
	transition: all ease-in-out 250ms;
}

footer li a:hover{
	color: #b9b9b9;
}

footer small{
	margin-top: 10px;
}
